
body {
	font-family: Consolas;
	background-color: #F8F8F8;
	margin:0;
	position:relative;
}

.page {
	padding-left: 30px;
	max-width: 100%;
	padding-bottom: 200px;
}

.navbar {
	color: white;
	background-color: #494544;
	min-height: 100vh;
	min-height: 100%;
	width:300px;
	z-index: 2;
	top:0;
	left:0;
	position: absolute;
	transition: 0.5s;
	padding: 20px 0 0 0;
}

.content {
	margin-left: 300px;
	transition: margin-left .5s;
	max-width: 100%;
}

.menuToggler {
	font-size: 32px;
	color:white;
	margin-left: 20px;
	margin-right: auto;
  transition: .5s;
}

line {
	background-color: #F1861B;
	height: 40px;
	width: 100%;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.topLine {
	margin: 0;
	height: 39px;
}

.short-container {
	display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#short-info {
	display: block;
	font-size: 22px;
	vertical-align: middle;
	padding-right: 10px;
	font-family: Consolas;
}

.info-line {
	font-size: 28px;
	margin-left: 35%;
	font-family: Consolas;
	text-overflow: ellipsis;
	position: relative;
	width: 65%;
}

.info-line > p{
	overflow-x: hidden;
	text-overflow: ellipsis;
}

leftArrow {
	width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:30px solid #F1861B; 
  display: inline-block;
  position: absolute;
  transform: translate(-100%,0%);
}

rightLine {
height: 40px;
  width: 5px;
  top:0;
  right: 0;
  display: inline-block;
  position: absolute;
  transform: translate(100%,0%);
  background-color: #F1861B; 
  border-bottom-right-radius: 10px;
}

h1 {
	font-size: 50px;
}
h2 {
	font-size: 26px;
}
.navbar > ul {
	font-size: 18px;
}
.navbar > ul > li {
	margin-top: 10px;
	list-style-type: none;
	display: flex;
  justify-content: left;
  align-items: center;
}
.navbar > ul > li > span {
	margin-right: 10px;
}

.navbar > ul > li > p {
	margin:0;
}

.navBar-full {
	display: block;
}

.icon-vk {
	width: 25px;
	height: 25px;
	fill: white;
	background-image: url(myIcons/vk.svg);
	background-size: contain;
}

.icon-gh {
	width: 25px;
	height: 25px;
	fill: white;
	background-image: url(myIcons/github.svg);
	background-size: contain;
}
#stars {
	color: #F1861B; 
	position: absolute;
	left:60%;
	font-size: 15px;
}

.skill {
	font-size: 19px;
	float:left;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 22px;
}

a.navBar-full{
	color:white;
	text-decoration: none;
}

.toOther > a {
	color:white;
	background-color: #F1861B;
	text-decoration: none;
	font-size: 20px;
	padding: 6px 11px 6px 11px;
	border-radius: 20px;
	font-weight: bolder;
	margin-left: 5px;
	margin-bottom: 70px;
	margin-top: 10px;
	line-height: 50px;
}

.toOther {
	text-align: center;
}

.current {
	color: #494544 !important;
	background-color: white !important;
}

.page > p {
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 800px;
}